
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/all-order.css"/>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-resource.min.js"></script>
    <script src="/javascripts/all-order.js"></script>
  </head>
  <body ng-app="app">
    <div id="all-order">
      <div id="all-orders" ng-controller="OrderController as OC">
        <div class="first-bar">
          <div class="top-bar-content">
            <div class="logo"><img src="images/logo.jpg"/></div>
            <div class="store-name">林俊杰的店</div>
            <div class="search-box">
              <input placeholder="search food"/>
              <div class="search-button">搜索</div>
            </div>
          </div>
        </div>
        <div class="order-area">
          <div ng-repeat="item in OC.OrderList" class="order-item">
            <div class="info">
              <div class="id"> id：{{item._id}}</div>
              <div class="address">addr: {{item.address}} ￥</div>
              <div class="create_time">create_time；{{item.create_time}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>