
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/all-order.css"/>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-resource.min.js"></script>
    <script src="/javascripts/all-order.js"></script>
  </head>
  <body ng-app="app">
    <div id="all-order">
      <div id="all-orders" ng-controller="OrderController as OC">
        <div class="first-bar">
          <div class="top-bar-content">
            <div class="logo"><img src="images/logo.jpg"/></div>
            <div class="store-name">林俊杰的店 我的订单</div>
          </div>
        </div>
        <div class="order-area">
          <div ng-repeat="item in OC.OrderList | orderBy: -item.create_time" class="order-item"><a target="_blank" href="/order/{{item._id}}">
              <div class="info">
                <div class="id">用户名: {{item.username}}</div>
                <div class="address">订单地址: {{item.address}} </div>
                <div class="create_time">订单创建时间；{{item.convert_create_time}}</div>
              </div></a></div>
        </div>
      </div>
    </div>
  </body>
</html>