
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/login-register.css"/>
  </head>
  <body>
    <div id="fs-login-register">
      <div id="geetest-popup-submit"></div>
      <div class="login-register-wrapper">
        <div class="login-register-container">
          <div class="fs-logo"><span>Food Store</span></div>
          <div class="login-register-form">
            <div class="login-register-tabs"><span class="tab-item choose">Log in</span>
            </div>
            <div class="login-register-tabs-container">
              <form class="login">
                <input id="username" type="text" placeholder="User Name" required="required"/>
                <input id="password" type="password" placeholder="Password" required="required"/>
                <div class="form-item">
                  <input id="remember-username" type="checkbox"/>
                  <label for="remember-username">Remember Username</label>
                </div>
                <input type="submit" value="Log in"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>