
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/menu.css"/>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-resource.min.js"></script>
    <script src="/javascripts/menu.js"></script>
  </head>
  <body ng-app="fs">
    <div id="all-foods" ng-controller="menu">
      <div ng-show="showMaskOrder || showMaskDetail" class="mask">
        <div ng-show="showMaskOrder" class="order">
          <div class="order-header">订单信息</div>
          <div class="info">
            <p>客户:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input placeholder="username" ng-model="orderUsername"/>
            </p>
            <p>订单号码:
              <input placeholder="phonenumber" ng-model="orderPhone"/>
            </p>
            <div class="address">订单地址:
              <input placeholder="address" ng-model="orderAddresss"/>
            </div>
          </div>
          <div class="order-lists">
            <table>
              <thead>
                <tr>
                  <th class="table-food-name">菜品</th>
                  <th class="table-food-numbers">份数</th>
                  <th class="table-food-price">价格</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in foodItems | numbersFilter">
                  <td class="table-food-name">{{item.foodname}}</td>
                  <td class="table-food-numbers">{{item.orderNumbers}}</td>
                  <td class="table-food-price">{{item.price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="total">共计 {{orderTotalPrice}}</div>
          <div class="button-area">
            <div ng-click="cancel($event, 'order')" class="button cancel">取消订单</div>
            <div ng-click="submitClicked($event)" class="button sure">确定下单</div>
          </div>
        </div>
        <div ng-show="showMaskDetail" class="order"><img ng-src="{{selectItem.url}}"/>
          <div class="food-description">{{selectItem.description}}</div>
          <div class="food-name">{{selectItem.foodname}}</div>
          <div class="food-price">价格￥ {{selectItem.price}}</div>
          <div ng-show="selectItem.vip == true" class="food-vip">VIP </div>
          <div class="button-area">
            <div ng-click="cancel($event, 'detail')" class="button cancel">关闭</div>
          </div>
        </div>
      </div>
      <div class="first-bar">
        <div class="top-bar-content">
          <div class="logo"><img src="images/logo.jpg"/></div>
          <div class="store-name">林俊杰的店</div>
          <div class="search-box">
            <input placeholder="search food" ng-model="itemModel"/>
            <div class="search-button">搜索</div>
          </div>
          <div class="user-info"><span>{{user.username || "未登录用户"}}</span>
            <div ng-show="user.username" ng-click="logout($event)" class="button">logout</div>
            <div ng-show="!user.username" ng-click="login($event)" class="button">login</div>
          </div>
        </div>
      </div>
      <div class="second-bar">
        <div class="second-bar-container">
          <div class="img-sort"><img src="images/icon_sort.png"/></div>
          <div class="second-title">美食分类        </div>
        </div>
      </div>
      <div class="food-area">
        <div ng-repeat="item in foodItems | filter: itemModel" ng-click="showDetailMask($event, item)" class="food-item"><img ng-src="{{item.url}}"/>
          <div class="food-name">{{item.foodname}}</div>
          <div class="food-price">价格￥ {{item.price}}</div>
          <div ng-show="item.vip == 'true'" class="food-vip">VIP</div>
          <div ng-click="changeOneFood($event, item._id, 'sub')" class="selectAddOrSub sub">-</div>
          <div ng-click="changeOneFood($event, item._id, 'add')" class="selectAddOrSub add">+</div>
        </div>
      </div>
      <div class="footer-container">
        <div class="order-lists">
          <table>
            <thead>
              <tr>
                <th class="table-food-name">菜品</th>
                <th class="table-food-numbers">份数</th>
                <th class="table-food-price">价格</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in foodItems | numbersFilter">
                <td class="table-food-name">{{item.foodname}}</td>
                <td class="table-food-numbers">{{item.orderNumbers}}</td>
                <td class="table-food-price">{{item.price * item.orderNumbers}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="footer">
          <div class="footer-img"><img src="images/bike.png"/></div>
          <div class="submit-area">
            <div ng-show="user.username" ng-click="makeOrder($event)" class="button">去下单</div>
            <div ng-show="!user.username" ng-click="login($event)" class="button">登录点餐</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>