html
  head
    link(rel="stylesheet" href="/stylesheets/all-foods.css")
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/angular-resource.min.js")
    script(src="/javascripts/all-foods.js")
    
  body(ng-app="fs")
    #all-foods(ng-controller="all-foods")
      .first-bar
        .top-bar-content
          .logo
            img(src="images/logo.jpg")
          .store-name 林俊杰的店
          .search-box
            input(placeholder="search food" ng-model="itemModel")
            .search-button 搜索
          
      .second-bar
        .second-bar-container
          .img-sort
            img(src="images/icon_sort.png")
          .second-title 美食分类        
      .food-area
        .food-item(ng-repeat="item in foodItems | fsSearch: itemModel")
          img(src="{{item.url}}")
          .food-name {{item.foodName}}
          .food-price 价格￥ {{item.foodPrice}}
          .food-vip VIP
          .selectAddOrSub.sub(ng-click="changeOneFood($event, item.id, 'sub')") -
          .selectAddOrSub.add(ng-click="changeOneFood($event, item.id, 'add')") +
      
      .footer-container
        .order-lists
          table
            thead
              tr
                th.table-food-name 菜品
                th.table-food-numbers 份数
                th.table-food-price 价格
            tbody
              tr(ng-repeat="item in foodItems | numbersFilter")
                td.table-food-name {{item.foodName}}
                td.table-food-numbers {{item.orderNumbers}}
                td.table-food-price {{item.orderPrices}}
            
        .footer
          .footer-img
            img(src="images/bike.png")
          .submit-area
            //- span All Costs {{price}}
            .button 去下单
