html
  head
    link(rel="stylesheet" href="/stylesheets/all-order.css")
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/angular-resource.min.js")
    script(src="/javascripts/all-order.js")

  body(ng-app="app")
    #all-order
      #all-orders(ng-controller="OrderController as OC")
          .first-bar
            .top-bar-content
              .logo
                img(src="images/logo.jpg")
              .store-name 林俊杰的店 我的订单
                    
          .order-area
            //- a(target="_blank" href="/order/{{item._id}}")
            .order-item(ng-repeat="item in OC.OrderList")
              a(target="_blank" href="/order/{{item._id}}")
                .info
                  .id 用户名: {{item.username}}
                  .address 订单地址: {{item.address}} 
                  .create_time 订单创建时间；{{item.create_time}}
