html
  head
    link(rel="stylesheet" href="/stylesheets/all-foods.css")
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/angular-resource.min.js")
    script(src="/javascripts/menu.js")
    
  body(ng-app="fs")
    #all-foods(ng-controller="menu")
      .mask(ng-show="showMask")
        .order
          .order-header 订单信息
          .info
            p 客户:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              input(placeholder="username" ng-model="orderUsername")
            p 订单号码:
              input(placeholder="phonenumber" ng-model="orderPhone")
            .address 订单地址:
              input(placeholder="address" ng-model="orderAddresss")
          
          .order-lists
            table
              thead
                tr
                  th.table-food-name 菜品
                  th.table-food-numbers 份数
                  th.table-food-price 价格
              tbody
                tr(ng-repeat="item in foodItems | numbersFilter")
                  td.table-food-name {{item.foodname}}
                  td.table-food-numbers {{item.orderNumbers}}
                  td.table-food-price {{item.price}}
          .total 共计 {{orderTotalPrice}}
          .button-area
            .button.cancel(ng-click="cancelOrder($event)") 取消订单
            .button.sure(ng-click="submitClicked($event)") 确定下单
                    
          
      .first-bar
        .top-bar-content
          .logo
            img(src="images/logo.jpg")
          .store-name 林俊杰的店
          .search-box
            input(placeholder="search food" ng-model="itemModel")
            .search-button 搜索
          .user-info
            span {{user.username || "未登录用户"}}
            .button(ng-show="user.username" ng-click="logout($event)") logout
            .button(ng-show="!user.username" ng-click="login($event)") login
      .second-bar
        .second-bar-container
          .img-sort
            img(src="images/icon_sort.png")
          .second-title 美食分类        
      .food-area
        .food-item(ng-repeat="item in foodItems | fsSearch: itemModel" ng-click="showDetailMask($event, item)")
          img(src="{{item.url}}")
          .food-name {{item.foodname}}
          .food-price 价格￥ {{item.price}}
          .food-vip(ng-show="item.vip") VIP
          .selectAddOrSub.sub(ng-click="changeOneFood($event, item._id, 'sub')") -
          .selectAddOrSub.add(ng-click="changeOneFood($event, item._id, 'add')") +
      
      .footer-container
        .order-lists
          table
            thead
              tr
                th.table-food-name 菜品
                th.table-food-numbers 份数
                th.table-food-price 价格
            tbody
              tr(ng-repeat="item in foodItems | numbersFilter")
                td.table-food-name {{item.foodname}}
                td.table-food-numbers {{item.orderNumbers}}
                td.table-food-price {{item.price}}
            
        .footer
          .footer-img
            img(src="images/bike.png")
          .submit-area
            //- span All Costs {{price}}
            .button(ng-show="user.username" ng-click="makeOrder($event)") 去下单
            .button(ng-show="!user.username" ng-click="login($event)") 登录点餐
