html
  head
    link(rel="stylesheet" href="/stylesheets/all-order.css")
    link(rel="stylesheet" href="/stylesheets/one-order.css")
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/angular-resource.min.js")
    script(src="/javascripts/one-order.js")

  body(ng-app="fs")
    #all-order
      #all-orders(ng-controller="one-order")
        .first-bar
          .top-bar-content
            .logo
              img(src="../images/logo.jpg")
            .store-name 林俊杰的店 
              span 订单详情

          .order-area
            .order-item
              .info
                .id 用户名: {{orderDetail.username}}
                .address 订单地址: {{orderDetail.address}} 
                .create_time 下单时间；{{orderDetail.create_time}}
                .order-lists
                  table
                    thead
                      tr
                        th.table-food-name 菜品
                        th.table-food-numbers 份数
                        th.table-food-price 价格
                    tbody
                      tr(ng-repeat="item in orderDetail.foodids")
                        td.table-food-name {{item.foodname}}
                        td.table-food-numbers {{item.num}}
                        td.table-food-price {{item.num * item.price}}
