.order-lists {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  left: -50px;
  top: 100px;
}

.order-lists table {
  width: 300px;
  text-align: center;
}

.order-lists table thead tr {
  height: 20px;
  line-height: 20px;
}

.order-lists table thead tr th.table-food-name {
  width: 50%;
}

.order-lists table thead tr th.table-food-numbers, .order-lists table thead tr th.table-food-price {
  width: 25%;
}

.order-lists table tbody tr {
  height: 25px;
  line-height: 25px;
}

.order-lists table tbody tr td.table-food-name {
  width: 50%;
}

.order-lists table tbody tr td.table-food-numbers, .order-lists table tbody tr td.table-food-price {
  width: 25%;
}
