html
  head
    title Simple Food Store
    meta(charset='utf-8')
    base(href="/")

    <!-- inject:css -->
    <!-- endinject -->

  body 
    #foodstore-main(ng-controller='SimpleFoodStore')
      div
        span //假装是登录界面
  <!-- inject:js -->
  <!-- endinject -->
